<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" style="margin-top:51px;background-color:#f9f9f9;">
      {{side-bar}}
    </div>
    <div class="col-sm-9 col-md-10 main" style="margin-top:51px;">
      {{dashboard-main articles=model}}
    </div>
  </div>
</div>